<%= form_for(@manufacturer) do |f| %>
  <% if @manufacturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manufacturer.errors.count, "error") %> prohibited this manufacturer from being saved:</h2>

      <ul>
      <% @manufacturer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Наименование</strong>
    <%= f.text_field :title, class: "form-control", placeholder: "Введите наименование"%>
  </div><br>
  <div class="field">
    <strong>Описание</strong>
    <%= f.text_area :description, class: "form-control", rows: "3", placeholder: "Введите описание" %>
  </div><br>
  <div class="field">
    <strong>Страна</strong>
    <%= f.country_select(:country) %><br>
  </div><br>
  <div class="field">
    <strong>Город</strong>
    <%= f.text_area :city, class: "form-control", placeholder: "Введите название города" %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
